<footer class="bg-light mt-8">
    <div class="container pb-7" style="padding-top: 1rem;">
         <div class="align-items-center justify-content-between avatar-center">
        <div>
            <strong>Join our <a href="https://lists.eecs.berkeley.edu/sympa/subscribe/ai-climate-change">mailing list</a> or <a href="https://join.slack.com/t/berkeleyaicli-lv01499/shared_invite/zt-qlbeco8w-5R1~cOBKuTh2cTKkcqvw1w">slack channel</a> for announcements and opportunities.</strong>
        </div>
        <div class="social">
                <a href="https://join.slack.com/t/berkeleyaicli-lv01499/shared_invite/zt-qlbeco8w-5R1~cOBKuTh2cTKkcqvw1w"><ion-icon name="logo-slack"></ion-icon></a>
                <a href="https://twitter.com/ai_climate"><ion-icon name="logo-twitter"></ion-icon></a>
        </div>

        <div class="d-md-flex align-items-center justify-content-between">
            <p class="mb-2 mb-lg-0">
            <p class="text-center" style="font-size: 0.5em">&copy;
                <script>document.write(new Date().getFullYear())</script> Berkeley AI Research Climate
                Initiative <br><span
                    style="display: block; margin-top: 0; text-align: center;">website design
                    inspired by <a href="https://crfm.stanford.edu/" target="_blank"
                        style="color:#61697A">https://crfm.stanford.edu/</a></span>
            </p>
            </p>
        </div>

    </div>
</footer>